
.kotak{
    margin-left: -5%;
   width: 195%;
  
}





.makanan{
    margin-left:40%;
    margin-top:30%
    
}
.motif{
   
    margin-left:-95%;
    margin-top: 35%;
     
 }
 .logo{
    margin-left: -15%;
    margin-top: 20%;
}
.garis1{
    margin-top: 5rem;
    width: 90%;
}
.garis2{
    width: 90%;
   margin-top: 40rem;
   margin-left: -100%;
}
.box{
    margin-top:20%;
 
    /* margin-left:12%; */
}